<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Management</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>Controller.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Flight</display-name>
    <servlet-name>Flight</servlet-name>
    <servlet-class>Controller.Flight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Flight</servlet-name>
    <url-pattern>/Flight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cab</display-name>
    <servlet-name>Cab</servlet-name>
    <servlet-class>Controller.Cab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cab</servlet-name>
    <url-pattern>/Cab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hotel</display-name>
    <servlet-name>Hotel</servlet-name>
    <servlet-class>Controller.Hotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hotel</servlet-name>
    <url-pattern>/Hotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Controller.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>Controller.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test2</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>Controller.Test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>Controller.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Flightdel</display-name>
    <servlet-name>Flightdel</servlet-name>
    <servlet-class>Controller.Flightdel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Flightdel</servlet-name>
    <url-pattern>/Flightdel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hoteldel</display-name>
    <servlet-name>Hoteldel</servlet-name>
    <servlet-class>Controller.Hoteldel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hoteldel</servlet-name>
    <url-pattern>/Hoteldel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cabdel</display-name>
    <servlet-name>Cabdel</servlet-name>
    <servlet-class>Controller.Cabdel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cabdel</servlet-name>
    <url-pattern>/Cabdel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>Controller.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
</web-app>